body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.font_btn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
}

.formulario{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

#btn-ver-estoque {
    display: flex;
    text-align: center;
}

.estoque{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tabela{
    width: 500px;
    height: 25px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}


